body{
    text-align: center;
}
#label{
    padding: 1rem;
}
button{
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgb(42, 41, 41);
    color: white;
}
button:hover{
    cursor: pointer;
}
.cart2{
    margin-left: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    
}

.item{
    font-size: 1.2rem;
    display: flex;  
    gap: 1rem;
    width: 30rem;
    border: 2px solid #212529;
    
    
}