body{
    text-align: center;
}
#label{
    padding: 1rem;
}
button{
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgb(42, 41, 41);
    color: white;
}
button:hover{
    cursor: pointer;
}