*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 1.2rem 3rem;
}
.cart{
    position: relative;
    font-size: 2rem;
    background-color: white;
    color: black;
    padding: 0.3rem 0.3rem;
}
.cartAmount{
    position: absolute;/*position absolute will put the element relative to the nearest parent which has relative property*/
    top: -0.8rem;
    right: -0.5rem;
    color: white;
    font-size: 1rem;
    background-color: red;
    padding: 0.2rem 0.2rem;
    
    
    
}